[Unit]
Description=An extensible, customizable, free/libre text editor — and more.
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
ExecStart=/usr/local/bin/emacs --no-site-file --no-splash --daemon
ExecStop=/usr/local/bin/emacsclient --eval "(kill-emacs)"
Environment=SSH_AUTH_SOCK="%t/ssh-agent.socket"
Environment=TERM=xterm-24bit
# Restart=on-failure

[Install]
WantedBy=default.target
