.w3m/history
.yafc/bookmarks
.yafc/history
.w3m/w3m*
.mutt/aliases
.config/i3/dmenu_progs
.bin/zeiterfassung
.emacs.d/.cache/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/lisp/
.emacs.d/image-dired/
.emacs.d/places
.emacs.d/themes/
.emacs.d/tramp
.fonts/.uuid
*.diff
.config/mc/panels.ini
*.elc
