[user]
email = hboetes@gmail.com
name = Han Boetes

[github]
user = hboetes

[push]
default = simple

[color]
ui          = auto
branch      = auto
diff        = auto
log         = auto
interactive = auto
status      = auto
pager       = true

[gc]
autoDetach = false

[core]
pager = delta

[delta]
# features = side-by-side line-numbers decorations
whitespace-error-style = 22 reverse
plus-color = "#012800"
minus-color = "#340001"
syntax-theme = zenburn

[delta "decorations"]
commit-decoration-style = bold yellow box ul
file-style = bold yellow ul
file-decoration-style = none

[interactive]
diffFilter = delta --color-only

[diff]
colorMoved = default
