[user]
email = hboetes@gmail.com
name = Han Boetes

[github]
user = hboetes

[push]
default = simple

[color]
ui          = auto
branch      = auto
diff        = auto
log         = auto
interactive = auto
status      = auto
pager       = true

[gc]
autoDetach = false

[diff]
colorMoved = default
[pull]
rebase = true
