.w3m/history
.yafc/bookmarks
.yafc/history
.w3m/w3m*
.mutt/aliases
.config/i3/dmenu_progs
.bin/zeiterfassung
.config/emacs.d/.cache/
.config/emacs.d/elpa/
.config/emacs.d/eshell/
.config/emacs.d/lisp/
.config/emacs.d/image-dired/
.config/emacs.d/places
.config/emacs.d/themes/
.config/emacs.d/tramp
.fonts/.uuid
*.diff
.config/mc/panels.ini
*.elc
