[user]
	email = hboetes@gmail.com
	name = Han Boetes
[push]
	default = simple
[color]
	ui          = auto
        branch      = auto
        diff        = auto
        log         = auto
        interactive = auto
        status      = auto
        pager       = true
[gc]
	autoDetach = false
[pager]
	log  = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
