[Desktop Entry]
Type=Application
Name=magnethandler
Exec=/usr/bin/xterm -e /usr/bin/aria2c -d ~/Movies %U
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
